:root {
  --primary-color: #fd8664;
  --secondary-color: #ffb459;
  --background-color: #f6f3ed;
  --heading-font: "Birthstone Bounce", cursive;
  --default-font: "Roboto Slab", serif;
}
body {
  max-width: 600px;
  margin: 20px auto;
  border: 2px solid var(--background-color);
  border-radius: 20px;
}
.container {
  padding: 0;
}
@media (max-width: 767px) {
  body {
    border: none;
    margin: 0 auto;
  }
}
