.Form {
  text-align: center;
  padding: 20px 0;
  background-color: var(--secondary-color);
  border-radius: 10px;
}
h2 {
  font-family: var(--default-font);
  text-align: center;
  color: #6d6d71;
  font-weight: bold;
  line-height: 0.5;
  font-size: 15px;
  letter-spacing: 5px;
}
