.Form {
  text-align: center;
  margin-top: 50px;
}
ul,
h1 {
  color: #474c5c;
  text-align: center;
}
h1 {
  font-size: 60px;
  margin-top: 20px;
  color: #fd8664;
  font-family: "Birthstone Bounce", cursive;
  text-align: center;
}
ul {
  font-family: "Roboto Slab", serif;
  list-style-type: none;
  font-size: 25px;

  margin-bottom: 20px;
  text-transform: capitalize;
}
.mainData {
  background-color: #fd8664;
  color: white;
  padding: 10px;
  border-radius: 20px;
}
.AdditionalInfo {
  background-color: #f6f3ed;
  border-radius: 20px;
}

.planetBig {
  width: 300px;
  display: block;
  margin: 0 auto;
}
.planetSmall {
  width: 50px;
  display: inline;
}
footer {
  padding: 30px;
}

footer a {
  text-decoration: none;
  color: #c5dfa3;
}
footer a:hover {
  color: black;
}
@media (max-width: 767px) {
  .Form button {
    margin-top: 5px;
  }
}
