:root {
  --primary-color: #fd8664;
  --secondary-color: #c5dfa3;
  --background-color: #f6f3ed;
  --heading-font: "Birthstone Bounce", cursive;
  --default-font: "Roboto Slab", serif;
}
.Form {
  text-align: center;
  margin: 20px 60px;
  padding: 20px 0;
  background-color: var(--secondary-color);
  border-radius: 30px;
}
ul,
h1 {
  color: #474c5c;
  text-align: center;
}
h1 {
  font-size: 60px;
  margin-top: 20px;
  color: var(--primary-color);
  font-family: var(--heading-font);
}
ul {
  font-family: var(--default-font);
  list-style-type: none;
  font-size: 25px;
  margin-bottom: 20px;
  text-transform: capitalize;
  margin: 0 100px;
}
.mainData {
  background-color: var(--primary-color);
  color: white;
  border-radius: 20px;
}

.AdditionalInfo {
  background-color: var(--background-color);
  border-radius: 20px;
}

.planet {
  width: 300px;
  display: block;
  margin: 0 auto;
}

footer {
  padding: 30px;
  font-family: var(--default-font);
}
footer a {
  text-decoration: none;
  color: var(--secondary-color);
}
footer a:hover {
  color: black;
}
@media (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  ul {
    margin: 0 auto;
    padding: 0;
  }
  .Form {
    margin: 0 auto;
  }
}
