.units span {
  text-decoration: none;
  color: var(--background-color);
  font-size: 15px;
  position: relative;
  bottom: 10px;
  left: 5px;
}
span:hover {
  cursor: pointer;
  color: #474c5c;
}

span .active {
  color: #474c5c;
}
span .active:hover {
  cursor: auto;
}
