.units span {
  text-decoration: none;
  color: #474c5c;
  font-size: 15px;
  position: relative;
  bottom: 10px;
}
span:hover {
  cursor: pointer;
  color: white;
}

span .active {
  color: white;
}
span .active:hover {
  cursor: auto;
}
