ul,
h1 {
  text-align: center;
}
h1 {
  font-size: 60px;
  margin-top: 20px;
  font-family: var(--heading-font);
}

.WeatherInfo ul {
  list-style-type: none;
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
  margin: 0 100px;
}
.mainData {
  background-color: var(--primary-color);
  border-radius: 5px;
  font-size: 30px;
}

.AdditionalInfo {
  background-color: var(--background-color);
  border-radius: 5px;
}

.planet {
  width: 300px;
  display: block;
  margin: 0 auto;
}
.units span {
  text-decoration: none;
  color: #474c5c;
  font-size: 15px;
  position: relative;
  bottom: 10px;
  left: 5px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 45px;
  }
  .WeatherInfo ul {
    margin: 0 auto;
    padding: 0;
  }
}
