.WeatherForecast {
  text-align: center;
  color: white;
}
.day {
  border: 2px solid var(--primary-color);
  border-radius: 150px;
  padding: 10px;
  background-color: var(--primary-color);
}
.WeatherForecast-day {
  font-family: var(--heading-font);
  font-size: 20px;
}
.WeatherForecast-temperature-min {
  opacity: 0.5;
  margin-left: 10px;
}
