.WeatherForecast {
  text-align: center;
  margin: 10px;
}
.day {
  border: 2px solid var(--background-color);
  border-radius: 150px;
  padding: 10px;
  background-color: var(--secondary-color);
}
.WeatherForecast-day {
  font-family: var(--heading-font);
  font-size: 20px;
}
.WeatherForecast-temperature-min {
  opacity: 0.5;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .day {
    padding: 5px;
    border-radius: 5px;
  }
}
