ul,
h1 {
  color: #474c5c;
  text-align: center;
}
h1 {
  font-size: 60px;
  margin-top: 20px;
  color: var(--primary-color);
  font-family: var(--heading-font);
}
h2 {
  font-family: var(--default-font);
  text-align: center;
  color: #6d6d71;
  font-weight: bold;
  line-height: 0.5;
  font-size: 15px;
  letter-spacing: 5px;
}
.WeatherInfo ul {
  font-family: var(--default-font);
  list-style-type: none;
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
  margin: 0 100px;
}
.mainData {
  background-color: var(--primary-color);
  color: white;
  border-radius: 5px;
  font-size: 30px;
}

.AdditionalInfo {
  background-color: var(--background-color);
  border-radius: 5px;
}

.planet {
  width: 300px;
  display: block;
  margin: 0 auto;
}
.WeatherInfo a {
  text-decoration: none;
  color: #474c5c;
  display: inline;
  font-size: 15px;
  position: relative;
  bottom: 15px;
  left: 5px;
}
.WeatherInfo a:hover {
  color: white;
}
.active {
  color: white;
}
.active:hover {
  cursor: auto;
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 10px;
  }
  ul {
    margin: 0 auto;
    padding: 0;
  }
}
